{% extends 'base.html.twig' %} {% block body %}

<div class="container">
    <div class="row">
        {% for event in bigevents %}
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="card m-3">
                <img class="card-img-top" src="{{event.image}}" style=" width:100%;height:250px;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{event.name}}</h5>
                    <p class="card-text"><b>Type </b>: {{event.Type}}</p>
                    <p class="card-text"><b>Address </b>: {{event.address}}</p>
                   <p><b>URL </b>:<a href={{event.EventURL}}>{{event.EventURL}}</a>
                   
                    <p class="card-text"><small class="text-muted"><a href="/event/details/{{event.id}}" class="btn btn-light">More</a>
             <a href="/event/edit/{{event.id}}" class="btn btn-light">Edit</a>
            <a href="/event/delete/{{event.id}}" class="btn btn-light">Delete</a></small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<footer id="myFooter">
    <div class="footer-copyright">
        <p>© 2018 Copyright Maryam Alwash</p>
       
       <h6>maryam@icloud.com || +4438776552</h6>
    </div>
</footer>
{% endblock %}